<!DOCTYPE html>
<html>
<head>
<title>Menu Kafenio Mimis</title>
</head>
<body>
    <div class='card m-3 shadow'>
        <div class="card-body">
            <h1 class="card-title text-center">Mimis</h5>
            <div class='row'>
                <div class='col-md'>
                    <div class='card shadow'>
                        <div class="card-body">
                            <h1 class="card-title text-center">Mimis</h5>
                        </div>
                    </div>
                </div>
                <div class='col-md'>
                    <div class='card shadow'>
                        <div class="card-body">
                            <h1 class="card-title text-center">Mimis</h5>
                            <div class='card shadow'>
                                <div class="card-body">
                                    <h1 class="card-title text-center">Gerecht</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</body>
</html>