// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.averia {
    font-family: "Averia Gruesa Libre", serif;
    font-size: 80px;
}
i.green {
    color: green;
}

i.mdi-sprout i.mdi-sprout-outline  {
    line-height: 36px;
}