// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/rfs/scss";

.averia {
    font-family: "Averia Gruesa Libre", serif;
}

i.green {
    color: green;
}

.title {
  @include font-size(5rem);
}

.sub-title {
  @include font-size(4rem);
}

.type {
  @include font-size(3rem);
}
.not-a-btn {
  display: flexbox;
  background: none !important;
  border: none !important;
}
.name {
  @include font-size(2rem);
  @include padding-top(0.25rem);
  @include padding-bottom(0.25rem);
}

.description {
  @include font-size(1.5rem);
}

.price {
  @include font-size(1.5rem);
  display: flex;
  align-items: center;
}
